<div class="app-pur004-po-supplier">
  <div class="header header-1">
    <ng-container *ngFor="let b of cbxList; let i = index">
      <button kendoButton class="checkbox-btn-group" [toggleable]="isFilterActive"
        (selectedChange)="selectedBtnChange($event, i)" [selected]="b.Checked">
        {{ b.Name }}
        <input type="checkbox" class="k-checkbox" disabled [checked]="b.Checked" />
      </button>
    </ng-container>

    <div class="nav-btn nav-crud">
      <button kendoButton class="k-button btn-hachi hachi-secondary" [icon]="'reset'" (click)="refresh()"
        [disabled]="!isFilterActive">ĐỒNG BỘ SP MỚI</button>

      <button kendoButton *ngIf="isToanQuyen || isAllowedToCreate" class="k-button btn-hachi hachi-primary"
        [icon]="'plus'" (click)="openDetail(true)" [disabled]="!isFilterActive">Tạo mới</button>
    </div>
  </div>

  <div class="header header-2">
    <div class="nav-filter nav-btn">
      <div class="filter-btn-group clear-btn-group">
        <div class="label">
          <span class="k-icon k-i-filter"></span>Lọc dữ liệu
        </div>
        <button kendoButton class="k-button clear-filter-btn" (click)="resetFilter()">Reset bộ lọc</button>
      </div>

      <form [formGroup]="searchForm" style="display: flex;">
        <div class="filter-btn-group search-btn-group">
          <div class="label">
            Tìm kiếm
          </div>
          <div class="search-btn">
            <span class="k-icon k-i-search"></span>
            <kendo-textbox formControlName="SearchQuery" #SearchQuery type="text" class="k-textbox"
              placeholder="Tìm theo nhà cung cấp, số PO" [clearButton]="true">
            </kendo-textbox>
          </div>
        </div>

        <button kendoButton class="k-button searchBtn" [icon]="'search'" (click)="search()"
          [disabled]="!isFilterActive">TÌM</button>
      </form>
    </div>
  </div>

  <div class="grid-wrapper">
    <app-p-kendo-grid class="grid scrollable" [data]="gridView | async" [scrollable]="'none'" [loading]="loading"
      [pageable]="true" [pageSizes]="pageSizes" [pageSize]="pageSize" [skip]="gridState.skip" [take]="gridState.take"
      [sortable]="true" [sort]="gridState.sort" [onPageChangeCallback]="onPageChangeCallback"
      [onSortChangeCallback]="onSortChangeCallback" [getActionDropdownCallback]="getActionDropdownCallback"
      [allowedMoreActionDropdown]="allowActionDropdown" [onActionDropdownClickCallback]="onActionDropdownClickCallback"
      [selectable]="selectable" [onSelectCallback]="onSelectCallback"
      [onSelectedPopupBtnCallback]="onSelectedPopupBtnCallback" [getSelectionPopupCallback]="getSelectionPopupCallback">

      <kendo-grid-column field="OrderNo" title="Đơn hàng" class="col_img_tensanpham_masanpham"
        headerClass="col_img_tensanpham_masanpham">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="img_tensanpham_masanpham">
            <!-- <img loading="lazy" src="{{dataItem.ImageSetting1}}" alt=""> -->
            <div class="tensanpham_masanpham">
              <div class="tensanpham">
                <b>{{dataItem.CartNo}}</b>
                <span *ngIf="dataItem.SKU > 0"> | SKU: {{dataItem.SKU|number:'1.'}}</span>
                <span *ngIf="dataItem.Quantity > 0"> | SL: {{dataItem.Quantity|number:'1.'}}</span>
              </div>
              <div class="ngay">
                {{ dataItem.CreatedBy }}
              </div>
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="StatusDate" title="Tình trạng" class="col_tinhTrang" headerClass="col_tinhTrang">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div [ngClass]="{'green': dataItem.StatusID == 3, 'red': dataItem.StatusID == 5}">
            {{ dataItem.StatusName }}
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="OrderBy" title="Thông tin đặt hàng" class="col_createdBy">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>{{ dataItem.OrderBy }}</div>
          <div>{{ dataItem.OrderDate|date:'d/M/yyyy'}}</div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="OrderDate" title="Thời gian giao/nhận" class="col_shipper">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div *ngIf="dataItem.CreatedDate">
            Dự kiến giao: {{dataItem.CreatedDate|date:'d/M/yyyy'}}
          </div>
          <div *ngIf="dataItem.LastModifiedDate">
            Lần giao gần nhất: {{dataItem.LastModifiedDate|date:'d/M/yyyy'}}
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="TotalAmount" title="Giá trị PO" class="col_soLuong">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>{{ dataItem.TotalAmount | number: '1.' }}</div>
        </ng-template>
      </kendo-grid-column>
    </app-p-kendo-grid>
  </div>

  <kendo-dialog #dialog class="deleteDialog" title="Xóa Giỏ hàng" [hidden]="!deleteDialogOpened"
    (close)="closeDeleteDialog()" [minWidth]="250">
    <p style="margin: 30px; text-align: center;">
      Bạn chắc chắn muốn xóa vĩnh viễn Đơn hàng&nbsp;
      "{{ order.CartNo }}"&nbsp;này?</p>
    <div class="dialog-footer">
      <button kendoButton class="btn-hachi hachi-secondary" (click)="closeDeleteDialog()"
        [icon]="'close'">Không</button>
      <button kendoButton class="btn-hachi hachi-warning" (click)="delete()" [icon]="'trash'">Có</button>
    </div>
  </kendo-dialog>

  <kendo-dialog #dialog class="deleteDialog" title="Xóa các Giỏ hàng đã chọn" [hidden]="!deleteManyDialogOpened"
    (close)="closeDeleteDialog()" [minWidth]="250">
    <div style="margin: 30px; text-align: center;">
      Bạn chắc chắn muốn xóa vĩnh viễn {{ deleteList.length }} Đơn hàng này?
    </div>
    <div class="dialog-footer">
      <button kendoButton class="btn-hachi hachi-secondary" (click)="closeDeleteManyDialog()"
        [icon]="'close'">Không</button>
      <button kendoButton class="btn-hachi hachi-warning" (click)="deleteMany()" [icon]="'trash'">Có</button>
    </div>
  </kendo-dialog>


</div>