.color-white {
  color: #ffffff;
}

.color-darkblue {
  color: #39579a;
}

.color-blue {
  color: #008cd7;
}

.color-lightblue {
  color: #46b1ff;
}

.color-darkgreen {
  color: #316e00;
}

.color-green {
  color: #649e0f;
}

.color-lightgreen {
  color: #8dc63f;
}

.color-yellowgreen {
  color: #c1d72e;
}

.color-yellow {
  color: #ffc400;
}

.color-orangeyellow {
  color: #ffab00;
}

.color-lightorange {
  color: #ff5230;
}

.color-lightpink {
  color: #dc3545;
}

.color-red {
  color: #d82c12;
}

.hachi-color-primary-1 {
  color: #353935;
}

.hachi-color-primary-2 {
  color: #868b86;
}

.hachi-color-primary-3 {
  color: #8dc63f;
}

.hachi-color-primary-4 {
  color: #c1d72e;
}

.hachi-color-primary-5 {
  color: #ffffff;
}

.hachi-color-secondary-5 {
  color: #649e0f;
}

.hachi-color-text-1 {
  color: #46b1ff;
}

.hachi-color-text-2 {
  color: #868b86;
}

.hachi-color-text-3 {
  color: #008cd7;
}

.hachi-color-text-4 {
  color: #d82c12;
}

.hachi-color-text-5 {
  color: #649e0f;
}

.hachi-color-text-6 {
  color: #ffffff;
}

.hachi-color-text-7 {
  color: #8dc63f;
}

.hachi-color-text-8 {
  color: #626662;
}

.hachi-color-text-10 {
  color: #ff5230;
}

.hachi-color-text-9 {
  color: #bbc0bb;
}

.hachi-color-text-11 {
  color: #dc3545;
}

.hachi-color-text-12 {
  color: #828282;
}

::ng-deep .app-mar013-introduce-list {
  height: calc(93vh - 30px);
  padding: 0 15px 35px 20px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

::ng-deep .app-mar013-introduce-list .header.header-2 {
  align-items: stretch;
  column-gap: 2%;
}

::ng-deep .app-mar013-introduce-list .header.header-2 .searchBtn {
  margin-top: auto;
}

::ng-deep .app-mar013-introduce-list .header.header-2 .k-multiselect {
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

::ng-deep .app-mar013-introduce-list .header.header-2 .k-multiselect::after {
  content: "\25BC";
  position: absolute;
  right: 10px;
  top: 20%;
  pointer-events: none;
}

::ng-deep .app-mar013-introduce-list .header.header-2 .k-multiselect .k-multiselect-wrap {
  width: 100%;
  height: 100%;
  padding: 2px 5px;
  border: none;
}

::ng-deep .app-mar013-introduce-list .header.header-2 .k-multiselect .k-multiselect-wrap li.k-button {
  padding: 2px 5px;
}

::ng-deep .app-mar013-introduce-list .header.header-2 .k-multiselect .k-searchbar {
  pointer-events: none;
}

::ng-deep .app-mar013-introduce-list .header.header-2 .k-multiselect .k-clear-value {
  height: 100%;
  margin-right: 25px;
}

::ng-deep .app-mar013-introduce-list .myCustomGrid.k-grid tr td {
  white-space: normal;
}

::ng-deep .app-mar013-introduce-list .col_tieude {
  width: 200px;
  max-width: 300px;
}

::ng-deep .app-mar013-introduce-list .col_tieude .tieude {
  width: max-content;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

::ng-deep .app-mar013-introduce-list .col_image {
  max-width: 80px;
  max-height: 80px;
  height: 80px;
}

::ng-deep .app-mar013-introduce-list .myCustomGrid.k-grid tr td img {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
}

::ng-deep .app-mar013-introduce-list .col_quotes {
  width: 500px;
  max-width: 500px;
}

::ng-deep .app-mar013-introduce-list .col_quotes .quotes {
  max-width: 500px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

::ng-deep .app-mar013-introduce-list .col_tinhTrang {
  max-width: 100px;
  max-height: 100px;
}

::ng-deep .app-mar013-introduce-list .red {
  color: red;
}

::ng-deep .app-mar013-introduce-list .yellow {
  color: #ff7b00;
}

::ng-deep .app-mar013-introduce-list .green {
  color: green;
}

::ng-deep .app-mar013-introduce-list .k-list-container .k-button:hover,
::ng-deep .app-mar013-introduce-list .k-list-container .k-button {
  background-color: transparent;
}
