@import "../../../../../assets/scss/variable.scss";

::ng-deep {
  .app-ecom007-inport-list {
    height: calc(100vh - #{$footer-height});
    padding: 0 15px 0 20px;
    // padding: 0 15px 35px 20px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;

    .header {
      .nav-filter {
        .filter-btn-group {
          &.search-btn-group {
            .search-btn {
              .k-textbox {
                width: 385px;
              }
            }
          }

          &.date-btn-group {
            position: relative;

            .k-datepicker {
              width: 150px;
            }

            .k-i-close {
              position: absolute;
              right: 33px;
              bottom: 15%;
              border-radius: 50%;
              cursor: pointer;
              background-color: lightgrey;
              color: white;
              font-size: 13px;

              &:hover {
                background-color: gray;
                color: lightgrey;
              }
            }
          }
        }
      }

      .nav-file {
        margin-left: auto;
      }     
    }

    .grid.scrollable {
      .k-grid {
        .k-grid-aria-root {
          overflow-x: auto;
        }
        table {
          // width: 1370px;
        }
        //đặt lại more action btn absolute theo table relative
        tr {
          position: initial;

          td,
          th {
            &:last-child {
              position: absolute;
              top: initial;
              margin-top: calc(1% - 10px);
            }
          }
        }
      }
    }

    .k-grid {
      thead tr {
        height: fit-content !important;

        th {
          padding: 0 12px;
          height: 13px;
        }
      }
      tr:not(.k-grouping-row) {
        td:first-child {
          padding-left: 10px !important;
        }
      }
      .col_img_tensanpham_masanpham {
        max-width: 600px;
        width: 600px;
      }
      .img_tensanpham_masanpham {
        display: flex;
        align-items: center;

        img {
          max-height: 64px;
          max-width: 64px;
          width: 100%;
          margin-right: 10px;
        }
        .tensanpham_masanpham {
          height: 64px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .tensanpham {
            white-space: normal;
            font-weight: 500;
          }

          .masanpham {
            color: $gray-700;

            .bannerGroup {
              font-weight: 700;
            }
            .isDefault {
              font-weight: 700;
              color: $dark-green;
            }
          }

          .tinhtrang {
            &.red {
              color: $bad-red;
            }
            &.green {
              color: $dark-green;
            }
          }
        }
      }

      .col_tinhTrang {
        text-align: center;
        padding-right: 50px;

        > .k-link {
          justify-content: center;
        }
      }
    }

    // .myCustomGrid.k-grid tr:not(.k-grouping-row) td:first-child {
    //   padding-left: 0;
    // }
  }
}
