@import "../../../../../../assets/scss/variable.scss";

::ng-deep {
    app-hr-offboard-decision-list {
        .app-hr-offboard-decision-list {
            height: calc(100vh - #{$footer-height});
            padding: 0 10px;

            .header {

                &.header-1 {
                    justify-content: space-between;

                    .k-dropdownlist {
                        width: 222px;

                        .k-input {
                            column-gap: 5px;
                        }
                    }
                }

                &.header-2 {
                    kendo-label {
                        .k-label {
                            color: $gray-700;
                            font-weight: 700;
                            margin-bottom: 6px;
                        }

                        .in-label {
                            display: flex;
                            gap: 5px;

                            .dropdown-option-filter {
                                .dropdownlistCustom {
                                    width: fit-content;
                                }

                                .k-input-inner {
                                    min-width: 45px;
                                }
                            }

                        }
                    }
                }

                .group-checkbox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }

                .box-button{
                    display: flex;
                    box-shadow: 1px 3px 6px 1px rgba(143, 155, 166, 0.2);
                    background: white;
                    align-items: center;
                    border-radius: 3px;

                    .k-button{
                        border: none !important;
                        box-shadow: none !important;

                        &:hover{
                            filter: brightness(100%);
                        }
                    }

                    .line-space {
                        width: 1px;
                        height: 18px;
                        border-radius: 3px;
                        background: rgba(219, 222, 231, 1);
                    }

                    .export-word{
                        color: rgba(39, 84, 155, 1);
                    }
                }

                .nav-btn {
                    display: flex;
                    align-items: center;

                    .onAddBtn {
                        height: 32px;
                        min-width: 103px;
                        width: -moz-fit-content;
                        width: fit-content;
                        font-size: 11px;
                        font-weight: 700;
                        line-height: 13px;
                        border-radius: 3px;
                        text-transform: uppercase;
                        border: 1px solid #1a6634;
                        background-color: #1a6634;
                        color: #fff;
                    }
                }

                .nav-file {
                    justify-content: end;
                }

            }



            .headerCustomClass .k-cell-inner>.k-link {
                justify-content: end;
            }

            .headerCenterCustomClass .k-cell-inner>.k-link {
                justify-content: center;
            }

            .headerCustomClass {
                &.col_headerTinhTrang {
                    padding-right: 20px !important;
                }
            }


            .Status {
                text-align: right;
                padding-right: 0 !important;
            }

            .testCenter {
                text-align: center;
            }

            .text-bold {
                font-weight: 700;
            }

            .text-italic {
                font-style: italic;
            }

            .col_lyDo {
                max-width: 200px;
                min-width: 150px;

                .text_lydo {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                    white-space: normal;
                    width: 100%;
                }
            }

            .col_hoVaten {
                width: 250px;
            }

            .col_viTriHienTai {
                max-width: 200px;

                .text {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .img_tennhanvien_manhanvien {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                text-align: left;

                .avata {
                    border-radius: 50%;
                    max-height: 50px !important;
                }

                .tennhanvien_manhanvien {
                    margin-left: 10px;

                    .tennhanvien {
                        font-weight: 700;
                        color: #5A6276;
                    }
                }
            }

            .k-grid {
                .k-grid-header .k-header {
                    color: $gray-700 !important;
                }



                thead tr {
                    height: fit-content !important;

                    th {
                        padding: 0 12px;
                        height: 13px;
                    }
                }

                .k-table-tbody {
                    tr {
                        td {
                            padding: 8px 12px !important;

                        }
                    }
                }

                tr:not(.k-grouping-row) {
                    td:first-child {
                        padding-left: 10px !important;
                    }
                }

                tr {
                    color: $gray-850;
                }

                tr>td {
                    padding: 8px 6px !important;

                }


            }

            app-p-kendo-grid .myCustomGrid.k-grid tbody tr>td:nth-last-child(1) {
                width: 40px;
                padding: 18px 12px 20px 4px;
            }
        }

        .app-hr-offboard-decision-list {
            .customDialog {
                .k-dialog {
                    min-width: 400px;
                    min-height: 250px;
                }

                .confirm {
                    .k-dialog-titlebar {
                        background-color: white;

                        .k-dialog-title {
                            color: #fd7676;
                            font-size: 15px;
                            font-weight: 600;

                        }
                    }

                    .k-window-content {
                        padding: 20px 10px;

                        .text-center {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 100%;
                            align-items: center;

                            .main-content {
                                .hight-light-content {
                                    color: rgb(54, 200, 207);
                                    font-weight: 600;
                                }
                            }

                            .sub-content {
                                .hight-light-sub {
                                    color: #fd7676;
                                }
                            }
                        }
                    }

                    .k-action-custom {
                        height: 53px;

                        .k-button {
                            height: 100%;
                        }

                        .btn-action {
                            background-color: #fd7676;
                            color: white;
                        }
                    }
                }
            }
        }
    }

}