.color-white {
  color: #ffffff;
}

.color-darkblue {
  color: #39579a;
}

.color-blue {
  color: #008cd7;
}

.color-lightblue {
  color: #46b1ff;
}

.color-darkgreen {
  color: #316e00;
}

.color-green {
  color: #649e0f;
}

.color-lightgreen {
  color: #8dc63f;
}

.color-yellowgreen {
  color: #c1d72e;
}

.color-yellow {
  color: #ffc400;
}

.color-orangeyellow {
  color: #ffab00;
}

.color-lightorange {
  color: #ff5230;
}

.color-lightpink {
  color: #dc3545;
}

.color-red {
  color: #d82c12;
}

.hachi-color-primary-1 {
  color: #353935;
}

.hachi-color-primary-2 {
  color: #868b86;
}

.hachi-color-primary-3 {
  color: #8dc63f;
}

.hachi-color-primary-4 {
  color: #c1d72e;
}

.hachi-color-primary-5 {
  color: #ffffff;
}

.hachi-color-secondary-5 {
  color: #649e0f;
}

.hachi-color-text-1 {
  color: #46b1ff;
}

.hachi-color-text-2 {
  color: #868b86;
}

.hachi-color-text-3 {
  color: #008cd7;
}

.hachi-color-text-4 {
  color: #d82c12;
}

.hachi-color-text-5 {
  color: #649e0f;
}

.hachi-color-text-6 {
  color: #ffffff;
}

.hachi-color-text-7 {
  color: #8dc63f;
}

.hachi-color-text-8 {
  color: #626662;
}

.hachi-color-text-10 {
  color: #ff5230;
}

.hachi-color-text-9 {
  color: #bbc0bb;
}

.hachi-color-text-11 {
  color: #dc3545;
}

.hachi-color-text-12 {
  color: #828282;
}

::ng-deep #selectedRowitemDialog {
  height: 68px;
  position: absolute;
  top: 50%;
  margin-top: -34px;
  left: 55%;
  margin-left: -136px;
  background-color: white;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 3px 6px 1px rgba(143, 155, 166, 0.2);
}

::ng-deep #selectedRowitemDialog .box {
  min-width: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

::ng-deep #selectedRowitemDialog .box:first-child {
  border-radius: 3px 0 0 3px;
}

::ng-deep #selectedRowitemDialog .box:last-child {
  border-radius: 0 3px 3px 0;
}

::ng-deep #selectedRowitemDialog .box.count-box {
  background-color: #1a6634;
  color: white;
  font-size: 13px;
}

::ng-deep #selectedRowitemDialog .box.count-box .count {
  font-size: 30px;
}

::ng-deep #selectedRowitemDialog .box.box-btn {
  padding: 0 22px;
  cursor: pointer;
}

::ng-deep #selectedRowitemDialog .box.box-btn:hover {
  background: #8f9ba6;
  color: white;
}

::ng-deep #selectedRowitemDialog .box.green-btn {
  color: #1a6634;
}

::ng-deep #selectedRowitemDialog .box.green-btn:hover {
  background: #1a6634;
  color: white;
}

::ng-deep #selectedRowitemDialog .box.red-btn {
  color: #EB273A;
}

::ng-deep #selectedRowitemDialog .box.red-btn:hover {
  background: #EB273A;
  color: white;
}

::ng-deep #selectedRowitemDialog .divider {
  height: 50px;
  width: 1px;
  margin: auto;
  background-color: #c8ced3;
}
